<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 col-xl-5">
      <div class="card bg-dark text-white">
        <div id="card" class="card-body text-center">

          <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
          <p class="text-white-50 mb-5">Please define your username and password!</p>

          <form (ngSubmit)="onSubmit()">
            <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
            <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
            <div class="form-outline form-white mb-4">
              <label class="form-label" for="typeNameX">Name</label>
              <input type="text" id="typeNameX" class="form-control form-control-lg" [(ngModel)]="name" name="name" required />
            </div>
            <div class="form-outline form-white mb-4">
              <label class="form-label" for="typeSurnameX">Surname</label>
              <input type="text" id="typeSurnameX" class="form-control form-control-lg" [(ngModel)]="surname" name="surname" required />
            </div>
            <div class="form-outline form-white mb-4">
              <label class="form-label" for="typeEmailX">Email</label>
              <input type="email" id="typeEmailX" class="form-control form-control-lg" [(ngModel)]="email" name="email" required />
            </div>
            <div class="form-outline form-white mb-4">
              <label class="form-label" for="typeBirthdateX">Birthdate</label>
              <input type="date" id="typeBirthdateX" class="form-control form-control-lg" [(ngModel)]="birthdate" name="birthdate" required />
            </div>
            <div class="form-outline form-white mb-4">
              <label class="form-label" for="typeGenderX">Gender</label>
              <select id="typeGenderX" class="form-control form-control-lg" [(ngModel)]="gender" name="gender" required>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
            </div>
            <div class="form-outline form-white mb-4">
              <label class="form-label" for="typePasswordX">Password</label>
              <input type="password" id="typePasswordX" class="form-control form-control-lg" [(ngModel)]="password" name="password" required />
            </div>
            <div class="form-outline form-white mb-4">
              <label class="form-label" for="typePasswordX2">Re-enter Your Password</label>
              <input type="password" id="typePasswordX2" class="form-control form-control-lg" [(ngModel)]="confirmPassword" name="confirmPassword" required />
            </div>
            <button class="btn btn-outline-light btn-lg px-5" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
