.modal {
    display: block; /* Show the modal */
    background: rgba(0, 0, 0, 0.5);
  }
  
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  
  .modal-content {
    background: #fff;
    border-radius: 5px;
    padding: 20px;
  }